*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'tay';
    src: url(Big\ Caslon\ Medium.ttf);
}
body{
    background-color: #edece8;
}
.topbar{
    background-color: #edece8;
    height: 100px;
}
.menu{
    float: right;
    margin: 40px 30px;
}
.bottoum{
    font-size: 26px;
    font-family: 'tay';
    text-decoration: none;
    color: rgb(142, 146, 146);
    text-shadow:rgba(245,245,245,.3) 3px 2px 4px 

}
.header{
    background-image: url(taylor.jpg);
    height: 600px;
    background-size: cover;
    background-position-y: -50px ;
    
}
.figLogo{
    width: 400px;
    position: absolute;
    bottom: 620px;
    left: 10px;
    filter: opacity(0.7);

}
.text{
    max-width: 400px;
    text-align: center;
    color: #edece8;
    font-size: 40px;
    float: right;
    position: absolute;
    right: 30px;
    top: 300px;
}
.nav-bottoum{
    float: right;
    color: #edece8;
    position: absolute;
    top: 380px;
    right: 110px;
}
.bottoum-nav{
    color: #edece8;
    text-decoration: none;
    display: block;
    border: 1px solid;
    padding: 10px;
    width: 100%;
    text-align: center;
    font-family: 'tay';
    margin: 20px;
    font-size: 20px;
}
.figline{
    position: absolute;
    width: 640px;
    left: 400px;
    bottom: 615px;
    filter: opacity(0.5);
}
section{
    padding: 30px;
}
.store{
    font-family: 'tay';
    font-size: 40px;
    color: rgb(142, 146, 146);
}
.linestore{
    position: absolute;
    top: 605px;
    left: 173px;
    width: 1350px;
    filter: opacity(0.5);
}
.cards{
   font-family: 'tay';
   border: 1px solid rgb(142, 146, 146);
   display: inline-block;
   text-align: center;
   margin-top: 20px;
   background-color: white;
   padding: 10px;
   margin: 15px 5px;

}
.img-card{
    width: 450px;
}
.card-text{
    max-width: 340px;
    margin: auto;
    font-family: 'tay';
    color: rgb(142, 146, 146);
}
.bottoum-card{
    margin:20px 0;
    padding: 15px 30px;
    border: 1px solid rgb(100, 104, 104);
    display: inline-block;
    font-weight: bolder;
    font-size: 20px;
}
.bottoum-cards{
    color: rgb(100, 104, 104);
    text-decoration: none;
}
.final{
    text-align: center;
    margin-top:150px ;
    padding: 10px;
}
.finalog{
    width: 760px;
}
.containerlog{
    padding-top: 30px;
    text-align: center;
}
.bottoumlog{
    color: rgb(100, 104, 104);
    text-decoration: none;
    display: inline-block;
    border: 1px solid;
    padding: 15px 20px;
    width: 25%;
    text-align: center;
    font-family: 'tay';
    margin: 10px 38% 15px ;
    font-size: 24px;
    font-weight: bolder;
}
footer{
    background-color: #edece8;
    height: 100px;
    position: relative;
    font-family: 'tay';
}
.footerline{
    width: 1530px;
    height: 100px;
    position: absolute;
    top: 100px;

}
.textfooter{
    position: absolute;
    top: 160px;
    left: 25px;
    font-size: 15px;
    color: rgb(100, 104, 104);
}
